<div class="container">
    <div class="card-panel brown lighten-5 hoverable">
      <h3 class="center-align">Login to list!</h3>

      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

        <div class="row">
          <div class="input-field col s12" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input placeholder="pepito@email.com" type="text" class="validate" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
            <label for="username">Username</label>
            <span *ngIf="f.submitted && !username.valid" class="red-text">Username is required</span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input placeholder="***********" type="password" class="validate" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
            <label for="password">Password&nbsp;</label>
            <span *ngIf="f.submitted && !password.valid" class="red-text">Password is required</span>
          </div>
        </div>

        <div class="row right-align">
          <div class="col s12">
            <a class="modal-trigger" href="#resetPasswordModal">I forgot my password!</a>
          </div>
        </div>

        <div class="row center-align">
          <div class="input-field col s12">
            <button [disabled]="loading" class="btn"><i class="material-icons left">lock_open</i>Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </div>

        <div *ngIf="error" class="red-text">
          <span><i class="material-icons left">error</i>{{error}}</span>
        </div>
      </form>
    </div>
</div>

<!-- Reset Password Modal -->
<div id="resetPasswordModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <h5>Enter your login email and we will reset the password.</h5>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="pepito@email.com" type="email" class="validate" name="resetPass" [(ngModel)]="emailToResetPass" #resetPass="ngModel" required/>
        <label for="resetPass" data-error="Wrong email!">Login Email</label>
      </div>
    </div>
    <div class="row">
      <p>The new password will be informed to this same email so that you can log in to your account and change it to a more secure one.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="!resetPass.valid" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="resetPassword()">Confirm</button>
  </div>
</div>
